.header{
    background: white;
    padding: 0;
    border-bottom: 1px solid #e52626;
}

.header a{
    color: #d35858;
}

.header a:hover{
    background: #e72929;
    color: rgb(242, 240, 240);
    cursor: pointer;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    padding: 10px 0;
}

.header ul{
     display: flex;
     list-style-type: none;
     margin: 0;
}
.header ul a{
    padding: 15px;
    display: inline-block;
}

.menu_container{
    position: relative;
}

.menu {
    position: absolute;
    z-index: 1;
    background-color: white;
    display: none;
}

.menu_container:hover .menu {
    display: block;
}

.menu a{
    width: 100%;
    min-width: 8 rem;
}

.cart_count{
    background-color: #ff4d4d;
    color: white;
    padding:  2px 6px;
    border-radius: 100rem;  
}
